.login-heading
  %h1= DealRedemptions.config.site_name

.login-subheading
  %h4 Login to manage your redemptions

.login-container
  .login-form
    %form{autocomplete: 'off'}
      .form-input
        %input{type: 'text', name: 'username', placeholder: 'Email Address:', required: 'required'}

      %hr

      .form-input
        %input{type: 'password', name: 'password', placeholder: 'Password:', required: 'required'}
      %button{type: 'submit'} Login