// Stylesheet form deal redemptions admin interface

@font-face {
  font-family: 'ss-glyphs';
  src:url('/assets/ss-glyphs.eot?k0r2ye');
  src:url('/assets/ss-glyphs.eot?#iefixk0r2ye') format('embedded-opentype'),
  url('/assets/ss-glyphs.woff?k0r2ye') format('woff'),
  url('/assets/ss-glyphs.ttf?k0r2ye') format('truetype'),
  url('/assets/ss-glyphs.svg?k0r2ye#ss-glyphs') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin transform($statement) {
  -webkit-transition: $statement;
  -moz-transition: $statement;
  -o-transition: $statement;
  transition: $statement;
}

html, body {
  color: #444;
  font-family: "ProximaNovaLight", "Helvetica Neue", "Helvetica", "sans-serif";
  margin: 0;
  padding: 0;
  display: initial;

  .login {
    background: #444;
    color: #FFF;
  }
}

// ===============================================================
// 1.0 Login
// ===============================================================

// Login form
.login-heading, .login-subheading {
  text-align: center;
  text-shadow: 0 0 4px #000;

  h1 {
    padding: 30px 0 20px 0;
    font-size: 30px;
  }

  h4 {
    padding: 0 0 20px 0;
  }
}

.login-subheading {
  font-family: 'ProximaNovaRegular';
  font-size: 12px;
}

.login-container {
  max-width: 340px;
  margin: auto;

  .login-form {
    background: white;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
         -o-border-radius: 10px;
            border-radius: 10px;
    box-shadow: 0 0 8px #000;
    overflow: hidden;

    form {
      .form-input {
        padding: 10px;
      }

      input[type='text'], input[type='password'] {
        color: #888;
        width: 100%;
        padding: 4%;
        border: none;
        outline: none;

        &:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 50px white inset; /* Change the color to your own background color */
          -webkit-text-fill-color: #888;
        }

        &:-webkit-autofill:focus {
          -webkit-box-shadow: 0 0 0 50px white inset;
          -webkit-text-fill-color: #888;
        }
      }

      input[type='submit'] {
        background: #059fe6;
        width: 100%;
        font-size: 18px;
        padding: 20px;
        border: none;
        @include transform(background 0.3s linear);

        &:hover {
          background: #0081bc;
        }
      }

      hr {
        margin: 0;
      }
    }
  }
}


// ===============================================================
// 2.0 Basic Structure
// ===============================================================
// Sidebar/Navigation
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background: #444;
  z-index: 3;

  .account-header {
    background: #333;
    height: 60px;
    border-bottom: 1px #696969 solid;

    .account-logo {
      background: #FFF;
      width: 60px;
      height: 60px;
      padding: 10px;
      overflow: hidden;

      img {
        max-width: 30px;
      }
    }

    p {
      &.site-name {
        color: #FFF;
        font-size: 14px;
        padding: 20px 10px;
      }
    }
  }

  nav {
    ul {
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        height: 40px;

        a:link, a:visited {
          float: left;
          width: 100%;
          height: 40px;
          color: #CCC;
          text-decoration: none;
          line-height: 25px;
          padding: 8px 20px;
          @include transform(background 0.2s linear);

          &:hover {
            background: #333;
          }

          &.active {
            color: #FFF;
            background: #333;
          }
        }
      }
    }
  }
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  background: #f0f0f0;
  background: rgba(240,240,240,0.8);
  width: 100%;
  height: 60px;
  border-bottom: 1px #CCC solid;
  padding-left: 220px;
  z-index: 2;

  h1 {
    float: left;
    font-size: 24px;
    margin: 16px 0;

    &.dashboard {
      &:before {
        content: '\e600'
      }
    }
  }

  .pull-right {
    padding: 13px;
  }
}

// Glyph icons
i {
  width: 30px;
  font-family: "ss-glyphs";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  line-height: 1;
  padding-right: 10px;

  &.dashboard {
    &:before {
      content: '\e600'
    }
  }

  &.redemptions {
    &:before {
      content: '\e601'
    }
  }

  &.products {
    &:before {
      content: '\e602'
    }
  }

  &.companies {
    &:before {
      content: '\e603'
    }
  }

  &.import {
    &:before {
      content: '\e604'
    }
  }

  &.settings {
    &:before {
      content: '\e605'
    }
  }
}

// Main content
.content-wrapper {
  padding: 70px 20px 20px 220px;
}

label, input, textarea, select {
  font-family: "Helvetica Neue", "Helvetica";
}

label {
  font-size: 14px;
}

.remove-btn {
  background: none;
  color: red;
  border: none;
  padding: 0;

  &:hover {
    text-decoration: underline;
  }
}

// ===============================================================
// 2.1 Page Structure
// ===============================================================
table.table {
  &.default {
    thead {
      tr {
        td {
          padding: 10px 20px;
          font: 18px "ProximaNovaRegular";
        }
      }
    }

    tbody {
      tr {
        &:nth-last-child(1) {
          border-bottom: 1px #DDD solid;
        }

        &:hover {
          background: #f8f8f8;
        }

        td {
          padding: 20px;
        }
      }
    }
  }
}


