/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

div.page-header {
  text-align: center;
}

form[name="redemptionForm"] {
  padding-bottom: 20px;
}

span.required {
  color: red;
}