- page_title 'Import/Export'
- admin_page_title '<i class="import"></i> Import/Export'.html_safe

.row
  .col-md-4
    %h3 Upload Redemption Codes
    Upload redemption codes via CSV format
    %hr

  .col-md-8

