<!DOCTYPE html>
<html>
<head>
  <title>DealRedemptions</title>
  <%= stylesheet_link_tag    "deal_redemptions/application", media: "all" %>
  <%= javascript_include_tag "deal_redemptions/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
